page-login {

    .bg-imagem{
        
        background-image: url('../assets/imgs/fundo.jpg'); 
       
        background-repeat: inherit;
        background-position: bottom;
        background-size: contain;
        
  }

}
